
#coeur {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 10% 10% 10% 10%;

    }


.nav {
  	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	margin-right: 10px;
justify-content: flex-start;
text-align: right;
font-family: arial,sans-serif;
font-size: 12px;
}


}

#haut {

display: flex;
align-items: center;
}


.push {
    margin-left: auto;
}
      




.milieu {
	flex-grow: 1;


}

.droite {
display: flex;
justify-content: space-around;
flex-grow: 1;
}


.gris {
	border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 12;
    text-align: center;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .6),
}

.bleu {
	background-color: #4386f9;
	border: 0;
    line-height: 2.5;
    padding: -1 15px;
    font-size: 14px;
    color: #fff;
        border-radius: 3px;

    text-align: center;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .6),

}



#bas { 
	align-content: baseline;
display: flex;
margin: 10px;
margin-right: 10px;
align-items: center;
font-size: 14px;



}

.g {
display: flex;
margin: 1px;
line-height: 10px;
padding-left: 10px;
margin-left: 5px;
text-align: left;
font-family: arial,sans-serif;

}

.champ  {
  border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
            border-radius: 15px;


}

input:focus{
    box-shadow: 4px 4px 0px #e3e4e8;
}



.tour  {


}

footer {
background-color: #F5F5F5;

position:absolute;

bottom:0;

width:100%;




}
p {
	margin-right: 1px;
	color: #5f6368;
	font-family: arial,sans-serif;


}
body {
	margin: auto;
}

hr {
	color: #e4e4e4;
	size: 1px;
}


a
{
color: #5f6368;
text-decoration: none;
}

